@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.Fira-Sans-font {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
*{
    margin: 0;
    padding: 0;
}
nav{

}

body{
     background-color: #F5F5F5;
     margin-right: 325px; 
     margin-left: 325px ;
     
}
.nav-btn-sing-in{
    padding: 5px 5px 5px 5px;
    color: #006A50;
    font-weight:500;
    font-size: 18px;
    border-color: #006A50;
    border-radius: 6px;
}
.nav-div-class{
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
/* banar-section */
.banar-section{
    width: 1280px;
    height: 560px;
    margin: auto;
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.bng{
    font-size: 24px;
    font-weight: 500;
    color:  #686565de;
}
.bannar-headline{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    padding-top: 15px;
}
.bannar-h-p-b-div{
    width: 622px;
    height: 326px;
    align-items: center;
}
.bannar-btn{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
}
/* The Vision of Future */
.the-vision-of-future{
    width: 1280px;
    height: 765px;
    margin: auto;
}
.future{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    color: #0E0E0E;
}
.future-bangladesh-p{
    font-weight: 400px;
    font-size: 16px;
    margin-top: 30px;
    color: rgba(14, 14, 14, 0.7);   
}

/* card */

.Digital-Transformation-div{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
    padding: 0px 32px;
    margin:32px auto;   
}
.D-img{
    margin-top: 32px ;
}
.D-T-h{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px;

}
.D-T-P{
    font-size: 19px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px;
    line-height: 24px;
}
.D-T-Learn-More{
    background-color: #5490F5;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 32px;
}
/* Green Energy */
 .Green-Energy-div{
    background: rgb(198, 228, 214);
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
    padding: 0px 32px;
    margin:32px auto;   
} 
.G-img{
    margin-top: 32px ;
}
    
.G-E-h{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px;

}
    
.G-T-P{
    font-size: 19px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px;
    line-height: 24px;
}
    
.G-E-Learn-More{
    background-color: rgb(9, 161, 92);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 32px;
}
/* Modern Infrastructure */
 .Modern-Infrastructure-div{
    background: #F7EBCF;
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
    padding: 0px 32px;
    margin:32px auto;   
}  
    
.M-img{
    margin-top: 32px ;
}
 
.M-I-h{
    font-size: 20px;
    font-weight: bold;
    margin: 24px 0px;

}
    
.M-I-P{
    font-size: 19px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px;
    line-height: 24px;
}
    
.M-I-Learn-More{
    background-color: #FFC239;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 32px;
}
.future-card{
    display: flex;
    gap: 24px;
}
/* Dr. Muhammad Yunus */

.Dr-Muhammad-Yunus{
    height: 256px;
    padding: 10px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    
    border-radius: 16px;
    background: rgb(255, 255, 255);   
}
.quote-img{
    padding-top: 15px;

}
.dr-M-Y-ph{
    color: rgba(14, 14, 14, 0.8);
    margin: 0px 24px;
}
.dr-m-Y-Hed{
    color: rgba(14, 14, 14, 0.8);
    margin: 10px 24px;
}
.dr-m-Y-p{
    color: rgba(14, 14, 14, 0.6);
    margin: 0px 24px;   
}
/* Recent News */
.Recent-News{
    width: 1280px;
    height: 1406px;
}
.recent-news-hed{
font-size: 40px;
font-weight: bold;
color: rgb(14, 14, 14);
}
.recent-news-prag{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 20px;
    color: rgba(14, 14, 14, 0.7);
}
.R-N-bng-h-p{
    margin-top: 45px;
}
.img-main-news-div{
height: 402px;
border-radius: 24px;
background: rgb(255, 255, 255);
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 80px;
margin-top: 32px;
}
.N-main-img-div{
    width: 408px;
    height: 306px;
}
.main-img{
    border-radius: 24px;
    margin-left: 40px;
}
.R-N{
    margin-top: 32;
}
.Bng-L-N-S{
    font-size: 32px;
    font-weight: bold;
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
}
.al-jazeera{
    margin: 8px 0px;
}
.time-date{
    color: rgba(14, 14, 14, 0.7);
    margin: 14px 0px;
}
.Not-P{
    margin-right: 25px;
    color: rgba(14, 14, 14, 0.7);
}
.al-jazeera-read-more{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    background: rgb(0, 106, 80);
    border: none;
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
}

/* secent-news style */

 .img-secent-news-div{
height: 402px;
border-radius: 24px;
background: rgb(255, 255, 255);
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 80px;
margin-top: 32px;
} 

    
.Bng-L-N-S-secent{
    font-size: 32px;
    font-weight: bold;
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
}
    
.secent-al-jazeera{
    margin: 8px 0px;
}
    
.secent-time-date{
    color: rgba(14, 14, 14, 0.7);
    margin: 14px 0px;
}
    
.secent-Not-P{
    margin-right: 25px;
    color: rgba(14, 14, 14, 0.7);
}
    
.secent-al-jazeera-read-more{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    background: rgb(0, 106, 80);
    border: none;
    border-radius: 8px;
    padding: 13px 26px 13px 26px;
}
.N-secent-img-div{
    width: 408px;
    height: 306px;
    margin-right: 40px;
}
.secent-news-img{
    border-radius: 24px;
    margin: 0px 0px 0px ;
}
.secent-n-div{
    margin-left: 48px;
    
}